#app2{
    border: 1px solid black;
}

#app2 .tab-bar{
    display: flex;
}
#app2 .tab-bar > li{
    border: 3px solid black;
    width: 50%;
    text-align:center;
}

#app2 .tab-bar > li.selected{
    background: yellowgreen;
}


#app2 .tab-content{

}

#app2 .tab-content > li{
    display: none;
}

#app2 .tab-content > li.active{
    display: block;
}
